<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bio-Rehab</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <div class="bodyContainer">
    <div class="appHeader">
      <div class="header">
        <h1>Dashboard</h1>
      </div>
      <div class="pluto" device-name="PLUTO">
        PLUTO
      </div>
      <div class="mars" device-name="MARS">
        MARS
      </div>
    </div>
    <div class="mainContainer">
      <div class="sideBar">

        <div class="searchBoxContainer">
          <div class="searchBox">
          </div>
          <div class="suggestionBox">
            <div id="suggestions"></div>
          </div>
        </div>
      </div>
      <div class="DashContainer">
        <!-- Card-style container -->
        <div id='loadingMessage'></div>
       
        <div class="container">
          <div id="detailsForm" style="display: none;" class="card">
            <h3 class="card-title">Hospital Details</h3>
            <form class="card-form">
              <div class="form-row">
                <div class="form-group">
                  <label for="hospitalID">Hospital ID:</label>
                  <input type="text" id="hospitalID" readonly>
                </div>

                <div class="form-group">
                  <label for="startDate">Start Date:</label>
                  <input type="text" id="startDate" readonly>
                </div>

                <div class="form-group">
                  <label for="endDate">End Date:</label>
                  <input type="text" id="endDate" readonly>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label for="totalDays">Total Days:</label>
                  <input type="text" id="totalDays" readonly>
                </div>

                <div class="form-group">
                  <label for="usageDays">Usage Days:</label>
                  <input type="text" id="usageDays" readonly>
                </div>

                <div class="form-group">
                  <label for="totalusageDays">Total Usage Days:</label>
                  <input type="text" id="totalusageDays" readonly>
                </div>
                <!-- Pie Chart container -->


              </div>
              <div class="form-row">
                <label for="PLUTO">PLUTO</label>
                <canvas id="usageChart"></canvas>
              </div>
            </form>
          </div>
          <div class="config-container">
            <div id="homerUserDetails" style="display: none;"></div>
            <div id="editableFieldsContainer" style="display: none;"></div>
        </div>
        </div>
        <div class="chartContainer">
          <div class="overallCharts"></div>
          <div class="deviceChart">
            <canvas id="devChart"></canvas>
          </div>
          <div class="mechChart">
            <canvas id="mechChartID">

            </canvas>
          </div>
          <div class="sessionMech">
            <div id="pieChartsContainer"></div>

          </div>
        </div>


      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
    integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>